target/
work/
*.class
build/projects/test

# Ignore Intellij Idea project files
*.iml
*.iws
*.ipr
.idea
atlassian-ide-plugin.xml
out/

# Ignore Eclipse project files
.settings
.project
.classpath

# Ignore MacOSX files
.DS_Store

# Ignore Netbeans project files
nbproject/
nbbuild/
/bin/

scrapbook.sql

src/plugins/spiffing/
src/plugins/threatvineExchange/

src/test/resources/solr/tvx/conf/managed-schema
src/test/resources/solr/tvx/conf/schema.xml.bak
